<template>
    <v-container>
        <h1 class="display-4">
            Temperature Readings
        </h1>
        <v-data-table
                :headers="headers"
                :items="readings"
                hide-default-footer
                class="elevation-1"
        ></v-data-table>
    </v-container>
</template>

<script>
    export default {
        name: "Readings",
        data() {
            return {
                readings: [],
                headers: [
                    {
                        text: 'Temperature in degrees celcius',
                        value: 'temperature',
                        align: 'start'
                    },
                    {
                        text: 'Recorded at',
                        value: 'created_at',
                        align: 'start'
                    }
                ]
            }
        },
        created() {
            axios.get('https://temperature-and-humidity.herokuapp.com/api/readings').then(response => {
                this.readings = response.data.readings.data;
            })
        }
    }
</script>

<style scoped>

</style>
